// Inclure Bootstrap 

@import "bootstrap.css";


//Definition des couleurs
$background: #CFA549;
$primary: #A16D24;
$secondary: #C5B585;
$vert:#1C6F21;
$beige: #E3D2AE;
$star: #F39A0A;

// css

body {
  background-color: $background;
}
