<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/jpg" href="{{ asset('images/logo/logo-ecoride.png') }}" />
        <title>{% block title %}EcoRide{% endblock %}</title>

       
        {% block stylesheets %}
           <!-- CSS et Bootstrap -->
         <link rel="stylesheet" href="{{ asset('styles/app.css') }}" /> 
        {% endblock %}
    </head>
    
    <body>
    <header>
        {% block header %}
       {% include('navbar.html.twig') %}
        {% endblock %}
    </header>
    <main>
        {% block body %}

        {% endblock %}
    </main>

    <footer>
        {% block footer %}

        {% endblock %}
    </footer>
    
    </body>

</html>
